    
# Sales Analysis

## Read in updated dataframe

In [1]:
import pandas as pd
    
data=pd.read_csv("sale_merged_file.csv")
data.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,pincode,Time
0,141234,iPhone,1,700.00,2019-01-22,"944 Walnut St, Boston, MA",2215,21:25:00
1,141235,Lightning Charging Cable,1,14.95,2019-01-28,"185 Maple St, Portland, OR",97035,14:15:00
2,141236,Wired Headphones,2,11.99,2019-01-17,"538 Adams St, San Francisco, CA",94016,13:33:00
3,141237,27in FHD Monitor,1,149.99,2019-01-05,"738 10th St, Los Angeles, CA",90001,20:33:00
4,141238,Wired Headphones,1,11.99,2019-01-25,"387 10th St, Austin, TX",73301,11:59:00
5,141239,AAA Batteries (4-pack),1,2.99,2019-01-29,"775 Willow St, San Francisco, CA",94016,20:22:00
6,141240,27in 4K Gaming Monitor,1,389.99,2019-01-26,"979 Park St, Los Angeles, CA",90001,12:16:00
7,141241,USB-C Charging Cable,1,11.95,2019-01-05,"181 6th St, San Francisco, CA",94016,12:04:00
8,141242,Bose SoundSport Headphones,1,99.99,2019-01-01,"867 Willow St, Los Angeles, CA",90001,10:30:00
9,141243,Apple Airpods Headphones,1,150.00,2019-01-22,"657 Johnson St, San Francisco, CA",94016,21:20:00

In [2]:
data.shape

(185950, 8)

## Clean up the data!
### The first step in this is figuring out what we need to clean. I have found in practice, that you find things you need to clean as you perform operations and get errors. Based on the error, you decide how you should go about cleaning the data

In [27]:
(data.isnull().sum()/data.shape[0])*100

Order ID            0.0
Product             0.0
Quantity Ordered    0.0
Price Each          0.0
Order Date          0.0
Purchase Address    0.0
pincode             0.0
Time                0.0
dtype: float64

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   pincode           185950 non-null  int64
 7   Time              185950 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 11.3+ MB

### Drop rows of NAN

In [29]:
data.dropna(inplace= True)

In [30]:
data.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
pincode             0
Time                0
dtype: int64

### Make columns correct type

In [31]:
add=data["Purchase Address"]

data["pincode"]=add.str[-8:]
data["pincode"]

0         ston, MA
1         land, OR
2         isco, CA
3         eles, CA
4         stin, TX
            ...
185945    isco, CA
185946    eles, CA
185947    ttle, WA
185948    llas, TX
185949    eles, CA
Name: pincode, Length: 185950, dtype: object

In [32]:
data["Purchase Address"]=data["Purchase Address"].str[:-6]

### extract Time

In [10]:
data["Time"]=data["Order Date"].str[-5:]

In [11]:
data["Time"]

0         01-22
1         01-28
2         01-17
3         01-05
4         01-25
          ...
185945    12-11
185946    12-01
185947    12-09
185948    12-03
185949    12-21
Name: Time, Length: 185950, dtype: object

In [12]:
data["Order Date"]= data["Order Date"].str[:8]

In [13]:
data["Order Date"]

0         2019-01-
1         2019-01-
2         2019-01-
3         2019-01-
4         2019-01-
            ...
185945    2019-12-
185946    2019-12-
185947    2019-12-
185948    2019-12-
185949    2019-12-
Name: Order Date, Length: 185950, dtype: object

In [14]:
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,pincode,Time
0,141234,iPhone,1,700.00,2019-01-,"944 Walnut St, Bost","ston, MA",01-22
1,141235,Lightning Charging Cable,1,14.95,2019-01-,"185 Maple St, Portla","land, OR",01-28
2,141236,Wired Headphones,2,11.99,2019-01-,"538 Adams St, San Francis","isco, CA",01-17
3,141237,27in FHD Monitor,1,149.99,2019-01-,"738 10th St, Los Angel","eles, CA",01-05
4,141238,Wired Headphones,1,11.99,2019-01-,"387 10th St, Aust","stin, TX",01-25
...,...,...,...,...,...,...,...,...
185945,319666,Lightning Charging Cable,1,14.95,2019-12-,"14 Madison St, San Francis","isco, CA",12-11
185946,319667,AA Batteries (4-pack),2,3.84,2019-12-,"549 Willow St, Los Angel","eles, CA",12-01
185947,319668,Vareebadd Phone,1,400.00,2019-12-,"273 Wilson St, Seatt","ttle, WA",12-09
185948,319669,Wired Headphones,1,11.99,2019-12-,"778 River St, Dall","llas, TX",12-03
185949,319670,Bose SoundSport Headphones,1,99.99,2019-12-,"747 Chestnut St, Los Angel","eles, CA",12-21

### Extract pincode

In [15]:
data["pincode"]=data["pincode"].str[3:]

In [16]:
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,pincode,Time
0,141234,iPhone,1,700.00,2019-01-,"944 Walnut St, Bost","n, MA",01-22
1,141235,Lightning Charging Cable,1,14.95,2019-01-,"185 Maple St, Portla","d, OR",01-28
2,141236,Wired Headphones,2,11.99,2019-01-,"538 Adams St, San Francis","o, CA",01-17
3,141237,27in FHD Monitor,1,149.99,2019-01-,"738 10th St, Los Angel","s, CA",01-05
4,141238,Wired Headphones,1,11.99,2019-01-,"387 10th St, Aust","n, TX",01-25
...,...,...,...,...,...,...,...,...
185945,319666,Lightning Charging Cable,1,14.95,2019-12-,"14 Madison St, San Francis","o, CA",12-11
185946,319667,AA Batteries (4-pack),2,3.84,2019-12-,"549 Willow St, Los Angel","s, CA",12-01
185947,319668,Vareebadd Phone,1,400.00,2019-12-,"273 Wilson St, Seatt","e, WA",12-09
185948,319669,Wired Headphones,1,11.99,2019-12-,"778 River St, Dall","s, TX",12-03
185949,319670,Bose SoundSport Headphones,1,99.99,2019-12-,"747 Chestnut St, Los Angel","s, CA",12-21

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   pincode           185950 non-null  object
 7   Time              185950 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 11.3+ MB

# changes data types

In [18]:
data["Order ID"]=data["Order ID"].astype(str)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   pincode           185950 non-null  object
 7   Time              185950 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 11.3+ MB

In [20]:
data['Order ID'] = pd.to_numeric(data['Order ID'], errors='coerce')

data = data.dropna(subset=['Order ID'])
data['Order ID'] = data['Order ID'].astype(int)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   pincode           185950 non-null  object
 7   Time              185950 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 11.3+ MB

In [22]:
data["Quantity Ordered"]=data["Quantity Ordered"].astype(int)

In [23]:
data["Price Each"]=data["Price Each"].astype(float)

In [ ]:
data['Order Date'] = pd.to_datetime(data['Order Date'], format='%m/%d/%y')

In [ ]:
data['Time'] = pd.to_datetime(data['Time'], format='%H:%M:%S').dt.time

In [ ]:
data.info()

In [ ]:
file_path = 'sale_merged_file.csv'  # Specify the file name and path
data.to_csv(file_path, index=False)  # Save without the index

In [2]:
data.head(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,pincode,Time
0,141234,iPhone,1,700.00,2019-01-22,"944 Walnut St, Boston, MA",2215,21:25:00
1,141235,Lightning Charging Cable,1,14.95,2019-01-28,"185 Maple St, Portland, OR",97035,14:15:00
2,141236,Wired Headphones,2,11.99,2019-01-17,"538 Adams St, San Francisco, CA",94016,13:33:00
3,141237,27in FHD Monitor,1,149.99,2019-01-05,"738 10th St, Los Angeles, CA",90001,20:33:00
4,141238,Wired Headphones,1,11.99,2019-01-25,"387 10th St, Austin, TX",73301,11:59:00
5,141239,AAA Batteries (4-pack),1,2.99,2019-01-29,"775 Willow St, San Francisco, CA",94016,20:22:00
6,141240,27in 4K Gaming Monitor,1,389.99,2019-01-26,"979 Park St, Los Angeles, CA",90001,12:16:00
7,141241,USB-C Charging Cable,1,11.95,2019-01-05,"181 6th St, San Francisco, CA",94016,12:04:00
8,141242,Bose SoundSport Headphones,1,99.99,2019-01-01,"867 Willow St, Los Angeles, CA",90001,10:30:00
9,141243,Apple Airpods Headphones,1,150.00,2019-01-22,"657 Johnson St, San Francisco, CA",94016,21:20:00